// https://color.adobe.com/library/eda846e7-2601-4d11-9339-8fc5602dd455/theme/b7de5cbd-2e3c-45b9-bd5e-66f44ec174d2/

$primary-very-dark: #252C33;
$primary-dark: #2F3740;
$primary-lt-dark: #4A5866;
$text-default: #EEF2FF;
$dark-green: #46A52C;
$light-green: #94D916;
$gold: #E6C200;
